[Unit]
Description=SPS30 Sensor Reader with MQTT and SQLite
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/sps30_monitor/sensor_reader.py
WorkingDirectory=/home/pi/sps30_monitor
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
