[Unit]
Description=SPS30 Sensor Reader with MQTT and SQLite
After=network.target

[Service]
ExecStart=/home/pi/sps_monitor/venv/bin/python3 /home/pi/sps_monitor/sensor_reader.py
WorkingDirectory=/home/pi/sps_monitor
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=10
User=pi
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
